name: ControlValue

 /**
  * TODO: descr. of the interface
  */


 /**
  *
  */
  controlValueChanged int nodeID,int intputIndex,buffer newValue

 /**
  *
  */
  syncInputValuesStarted

 /**
  *
  */
  syncInputValuesFinished


