name: ModuleClassInfo

 /**
  * TODO: descr. of the interface
  */

 /**
  *
  */
 moduleClassLoaded string moduleClassName, buffer buf

 /**
  *
  */
 moduleClassUnloaded string moduleClassID

 /**
  *
  */
 syncStarted

 /**
  *
  */
 syncFinished

