name: ModuleClassSpec

 /**
  * TODO: descr. of the interface
  */


 /**
  *
  */
 moduleClassLoaded string moduleClassID, const IModuleClassSpec& spec

 /**
  *
  */
 moduleClassUnloaded string moduleClassID

