name: ModuleStatistics

 /**
  * TODO: descr. of the interface
  */

 /**
  * Die Berechnungsroutine kann ueber dieses signal die
  * Berechnungsdauer einzelner Module melden
  */
 modExecTimeSignal int nodeID, double execTime

