name: ModuleData

 /**
  * TODO: descr. of the interface
  */
  
   /**
   * Teilt dem Receiver mit, dass irgendwas...
   */
  moduleDataSet int modID, int type, buffer buf

   /**
   * Teilt dem Receiver mit, dass irgendwas...
   */
  moduleDataUnSet int modID, int type

  /**
   * 
   */
  syncDataStarted

  /**
   * 
   */
  syncDataFinished


