name: RendererStatus

 /**
  * TODO: descr. of the interface
  */

 /**
  *
  */
 started

 /**
  *
  */
 stopped

 /**
  *
  */
 renderedGraphChanged string graphID

