name: TypeClassInfo

 /**
  * TODO: descr. of the interface
  */

/**
*
*/
typeClassLoaded int TypeClassID, buffer buf

/**
*
*/
typeClassUnloaded int TypeClassID



